img {
  width: 60%;
  margin: 10px 0 15px 0;
}

.projectItem {
  text-align: center !important;
}

.projectFooter {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
a {
  color: black;
}

@media only screen and (max-width: 1000px) {
  .projectFooter {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .myBtn {
    margin-bottom: 15px;
  }
}
